 <!-- Header Area wrapper Starts -->
 <header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Hobbies">
              Hobbies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="onepage-nev mobile-menu">
      <li>
        <a href="#hero-area">Home</a>
      </li>
      <li>
        <a href="#about">About Me</a>
      </li>
      <li>
        <a href="#Hobbies">Hobbies</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <!-- Mobile Menu End -->
  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="contents">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="assets/img/profile-pic.jpeg" alt="">
            </div>
            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Joelson Tatenda Mvundura</h2>
            <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Information Technology Student</p>
            <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
              <li>
                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
              </li>
              <li>
                <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
              </li>
              <li>
                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="about-background">
  <div class="container">

    <div class="row">
        <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
          <h3>About Me!</h3>
          <p>I am passionate about interactive media, and in an age of digital world, I believe bringing design to life with code is essential.
             So, I specialise in a multi-disciplined approach to my work incorporating design and development.
             I am currently studying Bachelor of Science in Information Technology at the Adventist University of the Philippines, Philippines.</p>
          <a href="#contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
        </div>
    </div>
  </div>
  </div>
</section>
<!-- About Section End -->

<!-- Hobbies Section Start -->
<section id="Hobbies" class="services section-padding">
  <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Hobbies</h2>
  <div class="container">
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
          <div class="icon">
            <i class="icon-grid"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">App Development</a></h3>
            <p>I love application development.</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <i class="icon-graduation"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Studying</a></h3>
            <p>I like reading, studying and learning new things.</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
          <div class="icon">
            <i class="icon-earphones"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Listening to Music</a></h3>
            <p>I love listening to music.</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
            <i class="icon-bubbles"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Chatting</a></h3>
            <p>I enjoy chatting with family and friends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hobbies Section End -->

<!-- Contact Section Start -->
<section id="contact" class="section-padding">
  <div class="contact-form">
    <div class="container">
      <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">

          <div class="contact-block">
          <h3 class="section-title wow flipInX" data-wow-delay="0.4s">Contact Me</h3>
            <form id="contactForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                 <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="submit-button">
                    <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>

    </div>
  </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
          Copyright &copy; 2021
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="icon-arrow-up"></i>
</a>




<!--router-outlet></router-outlet-->
